h3.titles a{
    color: #2E303A;
    text-decoration: underline;
    text-decoration-color: #F4A417;
 
}

section ol{
    margin-left: 1rem;
}

form{
    font-size:.9rem;
}

form div{
    margin-bottom:1rem;
    display: inline-block;
}

input{
    display: inline-block;
}

label{
    display: inline-block;
    padding-right:.5rem;
} 

.hidden{
    display:none;
}